<!-- This form displays the Item to be deleted. Also provides a Cancel link if
the user changes their mind. If they push the delete button, it returns to the
deleteItem handler. -->

{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h2>Delete Item</h2>

<form method=post>
    <div>Are you sure you want to delete {{item.name}} ?</div>
    <br>
    <br>
    <input type="Submit" value="DELETE">
</form>
<br>
<a href="{{url_for('showDescription',
                   category_name = item.category_name,
                   item_name = item.name)}}">Cancel</a>


{% endblock %}