<!-- This form displays the Item to be edited. Also provides a Cancel link if
the user changes their mind. If they push the edit button, it returns to the
editItem handler. This page also displays a flash message if the user tries
to edit the Item to an Item that already exists. -->

{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h2>Edit Item</h2>

<div class = 'flash'>
      {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
</div>

<form method = 'post'>
    <label>Item Name</label>
    <br>
    <input type="text" name="name" value="{{item.name}}">
    <br>
    <br>
    <label>Description</label>
    <br>
    <textarea name="description" maxlength="250" rows="3">{{item.description}}</textarea>
    <br>
    <br>
    <input type="Submit" value="EDIT">
</form>
<br>
<a href="{{url_for('showDescription',
                   category_name = item.category_name,
                   item_name = item.name)}}">Cancel</a>


{% endblock %}