<!-- This page provides a consistent header/banner across all the different
pages used throughout this application. It provides a link to get back to the
home page and it provides a link to login or logout-->

<div class="row top-banner">
    <div class="col-md-6">
        <a href="{{url_for('showCategories')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Catalog App
        </a>
    </div>
    <div class="col-md-6 text-right">
            {%if 'username' not in session %}
                <button class="btn btn-primary">
                  <a href="{{url_for('showLogin')}}">Login</a>
                </button>
            {% else %}
                <button class="btn btn-primary">
                  <a href="{{url_for('disconnect')}}">Logout</a>
                </button>
            {% endif %}

    </div>
</div>